# Copyright 2021-present Open Networking Foundation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: int-host-reporter
  namespace: kube-system
  labels:
    k8s-app: int-host-reporter
spec:
  selector:
    matchLabels:
      name: int-host-reporter
  template:
    metadata:
      labels:
        name: int-host-reporter
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      hostNetwork: true
      tolerations:
        # Make sure container gets scheduled on all nodes.
        - effect: NoSchedule
          operator: Exists
      imagePullSecrets:
        - name: aetherregistrysecret
      containers:
        - name: int-host-reporter
          image: registry.aetherproject.org/tost/int-host-reporter:latest
          imagePullPolicy: "Always"
          env:
            - name: CNI
              value: "cilium"
            - name: DATA_INTERFACE
              value: "enp0s8"
            - name: COLLECTOR
              value: "192.168.33.50:30001"
            # we use Node IP as switch ID
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          command: ["int-host-reporter"]
          args: ["--cni", "$(CNI)","--data-interface", "$(DATA_INTERFACE)", "--collector", "$(COLLECTOR)", "--switch-id", "$(NODE_IP)", "-f", "/etc/watchlist/watchlist.yaml"]
          volumeMounts:
            - name: bpffs
              mountPath: /sys/fs/bpf
            - name: watchlist
              mountPath: /etc/watchlist/watchlist.yaml
              subPath: watchlist.yaml
          securityContext:
            privileged: true
            capabilities:
              add: [ "NET_ADMIN","NET_RAW" ]
      volumes:
        - name: bpffs
          hostPath:
            path: /sys/fs/bpf
        - name: watchlist
          configMap:
            name: watchlist-conf
