# Copyright 2021-present Open Networking Foundation
# SPDX-License-Identifier: Apache-2.0

---
name: Docker Build and Push

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build the Docker images
        run: docker build -t opennetworking/int-host-reporter:latest .

      - name: Login to DockerHub
        run: docker login opennetworking --username ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_PASSWORD }}
        if: github.ref == 'refs/heads/main'

      - name: Push image to DockerHub
        run: docker push opennetworking/int-host-reporter:latest
        if: github.ref == 'refs/heads/main'